Header {
    background: #FF6347;
    height: 100px;
    font-family: monospace, Arial, Helvetica;
    width: 981px;
    margin: 10px auto 10px;
    overflow: hidden;
}
body {
  font-family: "monospace";
  font-weight: lighter;
  background-color: #FAEBD7;
}
nav {
  font-style: italic;
  font-stretch: expanded;
}
.link {
  color: #F5F5F5;
  font-weight: bold;
  font-stretch: extra-expanded;
}
h1 {
  color: #CD853F;
  text-align: center;
  font-size: 3rem;
}
h2.lorem {
  font-weight: bold;
  margin: 0 auto 20px;
  padding-left: 20px;
  color: #F08080;
  font-size: 1.5rem;
}
h3.under {
  text-decoration: underline;
}
.fontex {
  color: #778899;
  font-stretch: expanded;
}
.p.color {
  color: #BA55D3;
  font-style: oblique;
  padding: 20px 20px;
  text-align: justify;
}
p {
  padding: 10px;
}
p.style {
  font-style: oblique;
  text-decoration: underline;
}
.image {
  padding: 25px;
}
.box {
  border: 2px dotted;
  padding: 1.5rem;
}
.table {
  background-color: #D2B48C;
  text-align: justify;
  text-decoration-style: dotted;
  display: grid;
  grid-template: 100px / auto auto auto;
  padding: 5%;
}
footer {
  background-color: #FF6347;
  width: 100%;
  margin: 0 auto 2px;
  text-shadow: 0 1px 0px #fff0;
  text-align: center;
  font-size: 1em;
}
